[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=zhuangda
WorkingDirectory=/home/zhuangda/sites/SITENAME/source
Environment=EMAIL_PASSWORD=SEKRIT
ExecStart=/home/zhuangda/sites/SITENAME/virtualenv/bin/gunicorn \
    --bind unix:/tmp/SITENAME.socket \
    --capture-output \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
